@import 'fonts.scss';
@import 'mixins.scss';

// Variables


// Basic styles

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body{
  font-size: 16px;
}

.container-auter{
  width: 80%;
  margin: 0 auto;
}

.container-inner{
  padding-left: 5%;
  padding-right: 5%;
}

h1,
h2,
h3,
h4,
p{
  margin: 0;
  padding: 0;
}

/// header

.header{
  background-image: url("../../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 85vh;
}

.menu{
  display: flex;
  padding-top: 40px;

}

.logo{
  margin-right: auto;
}

.menu-items{
  margin-left: auto;
  display: flex;
  list-style: none;

  li{
  margin-left: 35px;
  }
  .menu-items__list{
    text-decoration: none;
    @include menufont;

    &:hover{
      color: #39b4af;
    }
  }
}
