@import 'fonts.scss';
@import 'mixins.scss';

// Variables
$textcolor: #1d1d1d;
$textcolorlight: #787878;
$basiccolor: #10c9c3;

// Basic styles

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body{
  font-size: 16px;
  overflow-x: hidden;
}
html{
  overflow-x: hidden;
}

.container-auter{
  width: 80%;
  margin: 0 auto;
}

.container-inner{
  padding-left: 5%;
  padding-right: 5%;
}

h1,
h2,
h3,
h4,
p{
  margin: 0;
  padding: 0;
}

/// header

.header{
  background-image: url("../../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 85vh;
}

.menu{
  display: flex;
  padding-top: 40px;

}

.logo{
  margin-right: auto;
}

.menu-items{
  margin-left: auto;
  display: flex;
  list-style: none;

  li{
  margin-left: 35px;
  }

  .menu-items__list{
    text-decoration: none;
    @include menufont;
    display: inline-block;
    transition-duration: 500ms;
    transition-property: color;

    &::before{
      content: '';
      width: 15px;
      height: 3px;
      background-color: $basiccolor;
      display: block;
      margin-bottom: 2px;
      opacity: 0;
      transition-duration: 500ms;
      transition-property: opacity;
    }

    &:hover{
      color: $basiccolor;

      &::before{
        opacity: 1;
      }
    }
  }
}

// header text

.header-text{
  margin-left: 60%;
  margin-top: 183px;

  .header-text__big{
    font-size: 2.25rem;
    text-align: left;
    letter-spacing: 3px;
    color: $textcolor;
    @include fontsemibold;
  }
  .header-text__small{
    font-size: 1.125rem;
    text-align: left;
    line-height: 1.75rem;
    color: $textcolorlight;
    @include fontlight;
  }
  .header-button{
    text-align: left;
    margin-top: 40px;
    @include headerbutton;
    cursor: pointer;
    display: block;
    appearance: none;
    box-shadow: none;
    transition-duration: 500ms;
    transition-property: background-color;

    &:hover{
      background-color: #22ded8;
    }
  }
}
// Media quaries

@media (max-width: 767px){
.menu{
  flex-wrap: wrap;
  text-align: center;
}
.logo{
  margin-right: 0;
  margin-bottom: 10px;
}
.menu-items{
  margin-left: 0;
  margin-right: 0;
  flex-wrap: wrap;

  li{
    margin-left: 15px;
    margin-right: 0;
    margin-bottom: 5px;

    :last-child{
      margin-left:0;
    }
  }
}
.header-text{
  margin-left: 0%;
  padding-bottom: 15px;
  margin-top: 83px;
}
}


// slogan

.slogan{
  text-align: center;
  margin-top: 100px;

  .slogan__maintext{
    @include fontsemibold;
    font-size: 1.875rem;
    color: $textcolor;
    margin-bottom: 40px;
  }

  .slogan__secondarytext{
    color: $textcolorlight;
    @include fontlight;
    line-height: 1.5rem;
    font-size: 1rem;
    margin-bottom: 40px;
  }

  .slogan__img{
    margin-bottom: 90px;
  }
}

// skills

.skills{

  background: url("../../images/skills_bg.jpg") top right no-repeat;
  background-color: #f8f9f9;
  min-height: 570px;
}

.skills__title{
  padding-top: 160px;
  @include fontsemibold;
  font-size: 1.875rem;
  color: $textcolor;
}

.skills__text{
  @include fontsemibold;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 40px;
}
.skills__container{
  content: '';
  max-width: 500px;
  height: 3px;
  background-color: #d8d8d8;
  margin-top: 20px;

}
.skills__container__ux{
  content: '';
  width: 75%;
  height: 3px;
  background-color: $basiccolor;

}
.skills__container__web{
  content: '';
  width: 90%;
  height: 3px;
  background-color: $basiccolor;

}
.skills__container__marketing{
  content: '';
  width: 65%;
  height: 3px;
  background-color: $basiccolor;
  margin-bottom: 160px;
}
