@font-face {
  font-family: 'Montserrat Light';
  src: url("./fonts/Montserrat-Light.eot");
  src: url("./fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/Montserrat-Light.woff") format("woff"), url("./fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Regular';
  src: url("./fonts/Montserrat-Regular.eot");
  src: url("./fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/Montserrat-Regular.woff") format("woff"), url("./fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Medium';
  src: url("./Montserrat-Medium.eot");
  src: url("./Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("./Montserrat-Medium.woff") format("woff"), url("./Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Semibold';
  src: url("./Montserrat-SemiBold.eot");
  src: url("./Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("./Montserrat-SemiBold.woff") format("woff"), url("./Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Bold';
  src: url("./Montserrat-ExtraBold.eot");
  src: url("./Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("./Montserrat-ExtraBold.woff") format("woff"), url("./Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', 'arial', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word; }

html {
  overflow-x: hidden; }

.container-auter {
  width: 80%;
  margin: 0 auto; }

.container-inner {
  padding-left: 5%;
  padding-right: 5%; }

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0; }

.header {
  background-image: url("../../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 85vh; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px; }

.logo {
  margin-right: auto; }

.menu-items {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none; }
  .menu-items li {
    margin-left: 35px; }
  .menu-items .menu-items__list {
    text-decoration: none;
    font-family: 'Montserrat Regular';
    font-weight: regular;
    font-style: normal;
    font-size: 1rem;
    text-transform: uppercase;
    color: #191919;
    display: inline-block;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color; }
    .menu-items .menu-items__list::before {
      content: '';
      width: 15px;
      height: 3px;
      background-color: #10c9c3;
      display: block;
      margin-bottom: 2px;
      opacity: 0;
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      -webkit-transition-property: opacity;
      -o-transition-property: opacity;
      transition-property: opacity; }
    .menu-items .menu-items__list:hover {
      color: #10c9c3; }
      .menu-items .menu-items__list:hover::before {
        opacity: 1; }

.header-text {
  margin-left: 60%;
  margin-top: 183px; }
  .header-text .header-text__big {
    font-size: 2.25rem;
    text-align: left;
    letter-spacing: 3px;
    color: #1d1d1d;
    font-family: 'Montserrat Semibold';
    font-weight: semibold;
    font-style: normal; }
  .header-text .header-text__small {
    font-size: 1.125rem;
    text-align: left;
    line-height: 1.75rem;
    color: #787878;
    font-family: 'Montserrat Light';
    font-weight: Light;
    font-style: normal; }
  .header-text .header-button {
    text-align: left;
    margin-top: 40px;
    background-color: #10c9c3;
    font-family: 'Montserrat Medium';
    font-weight: medium;
    font-style: normal;
    border: none;
    padding: 23px 46px;
    font-size: 0.75rem;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color; }
    .header-text .header-button:hover {
      background-color: #22ded8; }

@media (max-width: 767px) {
  .menu {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center; }
  .logo {
    margin-right: 0;
    margin-bottom: 10px; }
  .menu-items {
    margin-left: 0;
    margin-right: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .menu-items li {
      margin-left: 15px;
      margin-right: 0;
      margin-bottom: 5px; }
      .menu-items li :last-child {
        margin-left: 0; }
  .header-text {
    margin-left: 0%;
    padding-bottom: 15px;
    margin-top: 83px; } }

.slogan {
  text-align: center;
  margin-top: 100px; }
  .slogan .slogan__maintext {
    font-family: 'Montserrat Semibold';
    font-weight: semibold;
    font-style: normal;
    font-size: 1.875rem;
    color: #1d1d1d;
    margin-bottom: 40px; }
  .slogan .slogan__secondarytext {
    color: #787878;
    font-family: 'Montserrat Light';
    font-weight: Light;
    font-style: normal;
    line-height: 1.5rem;
    font-size: 1rem;
    margin-bottom: 40px; }
  .slogan .slogan__img {
    margin-bottom: 90px; }

.skills {
  background: url("../../images/skills_bg.jpg") top right no-repeat;
  background-color: #f8f9f9;
  min-height: 570px; }

.skills__title {
  padding-top: 160px;
  font-family: 'Montserrat Semibold';
  font-weight: semibold;
  font-style: normal;
  font-size: 1.875rem;
  color: #1d1d1d; }

.skills__text {
  font-family: 'Montserrat Semibold';
  font-weight: semibold;
  font-style: normal;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 40px; }

.skills__container {
  content: '';
  max-width: 500px;
  height: 3px;
  background-color: #d8d8d8;
  margin-top: 20px; }

.skills__container__ux {
  content: '';
  width: 75%;
  height: 3px;
  background-color: #10c9c3; }

.skills__container__web {
  content: '';
  width: 90%;
  height: 3px;
  background-color: #10c9c3; }

.skills__container__marketing {
  content: '';
  width: 65%;
  height: 3px;
  background-color: #10c9c3;
  margin-bottom: 160px; }

@media (max-width: 767px) {
  .skills {
    background: none; } }

.achivements {
  background-color: #10c9c3; }

.achivements__flex {
  padding-top: 100px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.achivements__content {
  min-width: 235px;
  margin-right: 70px; }
  .achivements__content :last-child {
    margin-right: 0; }

.achivements__icon {
  display: inline-block;
  margin-right: 27px; }

.achivements__title {
  display: inline-block; }

.achivement__text {
  font-family: 'Montserrat Light';
  font-weight: Light;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 1.6;
  letter-spacing: 1px; }
  .achivement__text span {
    font-size: 0.75rem; }

@media (max-width: 767px) {
  .achivements__flex {
    padding-top: 50px;
    padding-bottom: 20px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .achivements__content {
    margin-bottom: 30px;
    margin-right: 0px; } }

@media (max-width: 1292px) {
  .achivements__flex {
    padding-top: 50px;
    padding-bottom: 20px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .achivements__content {
    margin-bottom: 30px;
    margin-right: 10px; } }

.works {
  background-color: #838383; }

.works__title-hidden {
  visibility: hidden; }

.works__list {
  display: -ms-grid;
  display: grid;
  list-style: none;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: minmax(300px, auto); }

.works__element {
  position: relative; }
  .works__element::before {
    background-color: rgba(37, 37, 37, 0.85);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    content: '';
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity; }
  .works__element:hover::before {
    z-index: 1;
    opacity: 1; }
