@font-face {
  font-family: 'Montserrat Light';
  src: url("./fonts/Montserrat-Light.eot");
  src: url("./fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/Montserrat-Light.woff") format("woff"), url("./fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Regular';
  src: url("./fonts/Montserrat-Regular.eot");
  src: url("./fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/Montserrat-Regular.woff") format("woff"), url("./fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Medium';
  src: url("./Montserrat-Medium.eot");
  src: url("./Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("./Montserrat-Medium.woff") format("woff"), url("./Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Semibold';
  src: url("./Montserrat-SemiBold.eot");
  src: url("./Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("./Montserrat-SemiBold.woff") format("woff"), url("./Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Bold';
  src: url("./Montserrat-ExtraBold.eot");
  src: url("./Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("./Montserrat-ExtraBold.woff") format("woff"), url("./Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 16px; }

.container-auter {
  width: 80%;
  margin: 0 auto; }

.container-inner {
  padding-left: 5%;
  padding-right: 5%; }

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0; }
